@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background: url('../img/fundo.jpg') no-repeat;
   
}
#inputClipBoard{
    display: none;
}

    .div__audio{
        background: rgba(109, 106, 106, 0.4);
        width: 3em;
        height: 3em;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.42);
        padding: 1%;
        box-sizing: border-box;
        margin-left:2%;
    }

    .div__audio img{
        max-width: 60%;
        max-height: 100%;
        height: auto;
        opacity: .5;
    }

        .calc{
            display: grid;
            background-image: linear-gradient(#68b0d3, #084d6e);
            border-radius: 10px;
            box-shadow: 0px 5px 20px 1px #7c7b7b;
            width: 255px;
            height: 420px;
            grid-template-columns: repeat(4, 22%);
            grid-template-rows: 65px repeat(5, 50px) 55px;
            grid-gap: 1%;
            align-content: center;
            align-self: center;
            justify-content: center;
        }
        
        #calc__display{
            grid-column: 1 / -1;
            background: rgba(237, 237, 237, 0.62);
            border-radius: 7%;
            font-size: 3em;
            padding: 2%;
            height: 50px;
            text-align: right;
            border: solid 2px #888282;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 30% 70%;
            grid-gap: 1%;
        }
            #calc__display--time{
                grid-column: 1 / 2;
                font-size: 10pt;
                text-align: left;
                font-family: sans-serif;
                color: #484848;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            #calc__display--date{
                grid-column: 2 / -1;
                font-size: 10pt;
                text-align: right;
                font-family: sans-serif;
                color: #484848;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            #calc__display--value{
                grid-column: 1 / -1;
                font-size: .8em;
                font-family: 'Pacifico', cursive;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            

/* Buttons Organization  */

        .btn-ac, .btn-ce{
            background-image: radial-gradient(rgba(255, 10, 0, 0.52), rgba(255, 0, 0, 0.74));
        }

        .btn-division{
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }

        .btn-multiplication{
            grid-column: 4 / 5;
            grid-row: 3 / 4;
        }
        
        .btn-equal{
            grid-column: 3 /4 ;
            grid-row: 6 / 7;
        }

        .btn-sum{
            grid-column: 4 / 5;
            grid-row: 5 / 7;
        }
        
        button{
            font-size: 1.4em;
            color: #084d6e;
            border-radius: 20%;
            background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.33));
        }

/* Footer */
.calc__logo{
    grid-column: 1 / -1;
    grid-row: 7 / 8;
}

.calc__logo--img{
    max-width: 1000%;
    height: 100%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 1200px){
    .div__audio img{
        max-width: 80%;
        max-height: 100%;
        height: auto;
        opacity: .5;
    }
}


    